In [2]:
import sqlite3
# Establish a connection to the SQLite database
conn = sqlite3.connect('CountryClub3.sqlite')

In [11]:
import sqlite3

# Database file
db_file = 'CountryClub3.sql'  # Adjust the database file name as needed

# Connect to the SQLite database
conn = sqlite3.connect('CountryClub3.sql')
cursor = conn.cursor()

# Read and execute SQL commands from the script file
with open('CountryClub3.sql', 'r', encoding='utf-8') as sql_file:
        sql_commands = sql_file.read()
        # Split commands by semicolon to execute individually
        commands = sql_commands.split(';')
        for command in commands:
            cursor.execute(command)
        conn.commit()
        print("SQL commands executed successfully.")

OperationalError: near "SET": syntax error

In [1]:
#QUESTIONS:
#Q10: Produce a list of facilities with a total revenue less than 1000.
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members! */
# Execute the SQL query to find facilities with revenue less than 1000, sorted by revenue
import sqlite3  # or appropriate library for your database

# Establish a connection to your database
conn = sqlite3.connect('your_database.db')  # Replace 'your_database.db' with your actual database file

# Create a cursor object to execute queries
cursor = conn.cursor()

# Execute your SQL query
cursor.execute("""
    SELECT name, 
           SUM(CASE WHEN memid = 0 THEN slots * guestcost 
                    ELSE slots * membercost END) AS revenue 
    FROM Bookings 
    LEFT JOIN Facilities USING(facid) 
    GROUP BY name 
    HAVING revenue < 1000 
    ORDER BY revenue
""")

# Fetch all rows from the query result
rows = cursor.fetchall()

# Process the fetched rows as needed
for row in rows:
    print(row)  # Replace with your processing logic

NameError: name 'cursor' is not defined

In [29]:
#Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */
select concat(a.surname, ', ', a.firstname) as members, concat(b.surname, ', ', b.firstname) as recommended_by from Members a, Members b where a.recommendedby >0 and a.recommendedby = b.memid order by b.surname;

SyntaxError: invalid syntax (3055967894.py, line 2)

In [ ]:
#Q12: Find the facilities with their usage by member, but not guests */
select name, concat(firstname, ' ', surname) as member_name, count(surname) as 'usage' from Bookings left join Facilities using(facid) left join Members using(memid) where memid != 0 group by name, member_name;

In [ ]:
#Q13: Find the facilities usage by month, but not guests */
select extract(month from starttime) as month, name, count(name) as 'usage' from Bookings left join Facilities using(facid)where memid != 0 group by month, name;